body {
    background-image: url('https://i.pinimg.com/originals/52/e1/b0/52e1b0e86702007d316bf8b1c380c04d.png');
    font-family: 'Kanit', sans-serif;
    background-repeat : repeat;
    background-size: cover;
  }
    .mainpage {width: 1024px; margin: 0 auto;}
   header
    {
      background-color: #dde0ff;
      color:rgb(0, 0, 0);
      height: 70px;
      padding:10px;
    
  }

  footer{
    background-color: #f8e7fd;
    color:black;
    height: 40px;
    padding:10px;
    text-align: center;
  }

  .headname1{
     color: rgb(70, 70, 70);
     font-size: 35px;
  }

  .headname2{
    color: rgb(54, 48, 73);
    font-size: 20px;
 }

 .graphic{
   background-image: url("images/chantaburi-cover.jpeg");
   height: 320px;
   padding: auto;
 }

 .maps{
 border: 1px solid rgb(232, 237, 255);
 height: 300px;
 }
 
 .top10{
  background-color: rgb(229, 240, 253);
 padding: 10px;
}

.img10{
 width: 190px;
 border-radius: 10px;
}

.topmenu{
  background-color: #f5def5;
  height: 40px;
}