body {
    background-image: url('https://wallpaperaccess.com/full/261049.gif');
    font-family: 'Kanit', sans-serif;
    background-repeat : repeat;
    background-size: cover;
  }
    .mainpage {width: 1024px; margin: 0 auto;}
   header
    {
      background-color: #F4ECF7;
      color:black;
      height:40px;
      padding:10px;
    
  }

  footer{
    background-color: #F4ECF7;
    color:black;
    height: 40px;
    padding:10px;
    text-align: center;
  }

  .headname1{
     color: rgb(13, 143, 13);
  }

  .headname2{
    color: rgb(54, 48, 73);
 }

 .graphic{
   background-image: url("images/chantaburi-cover.jpeg");
   height: 320px;
   padding: auto;
 }

 .maps{
 border: 1px solid rgb(218, 226, 252);
 height: 300px;
 }
 